@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

body {
  margin: 0;
  padding: 0 0.5rem;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }
}
